<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
    <!-- Bootstraps icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- bootstraps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- fonts -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% block links %}
    	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- ======================== body/header ======================== -->
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <!-- ======================== body/main ======================== -->
    <main dir="rtl">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" dir="rtl">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% block main %}
        {% endblock %}
    </main>

    <!-- ======================== body/footer ======================== -->
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    <!-- bootstraps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</body>
</html>