
/* =========================================================== Font Codes =============================================================*/
/* adding and installing the fonts */
@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin'), 
        local('BNazanin'),
        url('../fonts/BNazanin.woff2') format('woff2'), 
        url('../fonts/BNazanin.woff') format('woff'), 
        url('../fonts/BNazanin.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'B Nazanin Bold';
    src: local('B Nazanin Bold'), 
        local('BNazanin-Bold'),
        url('../fonts/BNaznnBd.woff2') format('woff2'), 
        url('../fonts/BNaznnBd.woff') format('woff'), 
        url('../fonts/BNaznnBd.ttf') format('truetype');
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    font-style: normal;
}


/* classes using said fonts */
.bnazanin {
    font-family: 'B Nazanin', Arial, sans-serif;
    direction: rtl;
    text-align: right;
}

.bnazaninBold {
    font-family: 'B Nazanin Bold', Arial, sans-serif;
    direction: rtl;
    text-align: right;
}
/* End of font codes
========================================================================================================================*/

